<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
  <link rel = "stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class = "container">
  <h1>로그인</h1>
  <div class = "card">
    <form th:object="${loginForm}" th:action="@{/login(redirectUrl=${redirectUrl})}" method="post">
      <div class="error" th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
      </div>

      <div class="form-group">
        <label for="loginId">아이디</label>
        <input type="text" id="loginId" th:field="*{loginId}">
        <div class="error" th:errors="*{loginId}"></div>
      </div>
      <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}">
        <div class="error" th:errors="*{password}"></div>
      </div>

      <button type="submit" class="btn">로그인</button>
      <a th:href="@{/join}" class="btn gray">회원가입</a>
    </form>
  </div>
</div>
</body>
</html>