<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="topbar" th:fragment="header">
    <div class="menu">
        <!-- 로그인을 한 경우 -->
        <span th:if="${session.loginMember != null}">
            <b th:text="${session.loginMember.name}">사용자</b>님
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" class="btn gray">로그아웃</button>
            </form>
        </span>
        <!-- 로그인을 하지 않은 경우 -->
        <span th:if="${session.loginMember == null}">
            <a th:href="@{/login}">로그인</a>
            <a th:href="@{/join}">회원가입</a>
        </span>
    </div>
</header>
</body>
</html>